---
---

@import "{{ site.theme }}";

body {
  font-family: 'Noto Sans JP', sans-serif;
}

.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 {
  color: #AF8C00;
}

.main-content h1 { font-size: 64pt; }

.main-content h2 { 
  font-size: 32px;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
  // line-height: 1.6em;
  border-bottom: 1px solid #E0D4A0;
  &:first-letter { font-size: 80px; }
}

.main-content h3 { font-size: 24pt; }
