---
---

@import "{{ site.theme }}";

.page-header {
  color: #252000;
  text-align: center;
  background-color: #AF8C00;
  background-image: linear-gradient(45deg, #FFC680, #F8FF80);
}

.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 { color: #AF8C00; }

.main-content h1 { font-size: 64pt; }

.main-content h2 { 
  font-size: 32px;
  font-family: Play, 'M PLUS Rounded 1c';
  margin-block-start: 6em;
  margin-block-end: 2em;
  line-height: 1.6em;
  border-bottom: 1px solid #E0D4A0;
  &:first-letter { font-size: 80px; }
}

.main-content h3 {
  font-size: 24pt;
  font-family: Play, 'M PLUS Rounded 1c';
}

.main-content img { width: 320px; }

body { font-family: 'Noto Sans JP', sans-serif; }
